<header>
    <div class="container4">
        <div class="logo">
            <img class="img_logo " src={logo} alt="logo" />
        </div>

        <nav>
            <ul>
                <li> <button class="navbar_items"><a href="/home" class="s1 "> Home</a></button>
                </li>
                <div class="dropdown_service">
                    <button class="navbar_items"><a href="/services">Service </a><i
                            class="fa fa-light fa-xs fa-chevron-down"></i></button>
                    <div class="megamenu">
                        <div class="megamenu-items">
                            <h3>Digital Marketing</h3>
                            <ul>
                                <li>
                                    <a href="/">Search Engine Optimisation                    
                                    </a>
                                </li>
                                <li>
                                    <a href="/">Pay Per Click</a>
                                </li>
                                <li>
                                    <a href="/">Content Marketing</a>
                                </li>
                                <li>
                                    <a href="/">E-mail Marketing</a>
                                </li>
                                <li>
                                    <a href="/">Social Media Marketing</a>
                                </li>
                            </ul>
                        </div>
                        <div class=" megamenu-items ">
                            <h3>Development</h3>
                            <ul>
                                <li>
                                    <a href="/">Website Development</a>
                                </li>
                                <li>
                                    <a href="/">Android Development</a>
                                </li>
                                <li>
                                    <a href="/"> UX/UI Designer</a>
                                </li>
                            </ul>
                        </div>
                        <div class="megamenu-items">
                            <h3>Product Listing</h3>
                            <ul>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                            </ul>
                        </div>
                        <div class=" megamenu-items ">
                            <h3>Digital Marketing</h3>
                            <ul>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                            </ul>
                        </div>                           
                    </div>
                </div>
                <li>
                    <button class="navbar_items"><a href="/about-us" class="s1 ">About</a></button>
                </li>
                <div class="dropdown_service">
                    <button class="navbar_items"><a href="/">Pricing </a><i
                            class="fa fa-light fa-xs fa-chevron-down"></i></button>
                    <div class="megamenu-price">
                        <div class="megamenu-items">
                            <h3>Digital Marketing</h3>
                            <ul>
                                <li>
                                    <a href="/">Search Engine Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Social Media Marketing</a>
                                </li>
                                <li>
                                    <a href="/">Social Media Optimisation</a>
                                </li>
                                <li>
                                    <a href="/">Pay Per Click</a>
                                </li>                                 
                            </ul>
                        </div>
                        <div class=" megamenu-items ">
                            <h3>Website Designing Packages</h3>
                        </div>
                        <div class="megamenu-items">
                            <h3>Content Writing Packages</h3>
                        </div>                      
                    </div>
                </div>
                <li> <button class="navbar_items"><a href="/blog" class="s1 "> Blog</a></button>
                </li>             
                <li>
                    <button class="navbar_items"><a href="/contact" class="s1 ">Contact</a></button>
                </li>

            </ul>
        </nav>
    </div>
</header>