<header>
    <div class="container4">
    <div class="logo">
        <img class="img_logo" src={logo} alt="logo" />
    </div>

    <nav>
        <ul>
            <div class="dropdown_service">
                <button class="navbar_items"><a to="/services">Service </a><i class="fa fa-light fa-chevron-down"></i></button>
                <div class="megamenu">
                    <div class="megamenu-items">
                        <h3>Digital Marketing</h3>
                        <ul>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Pay Per Click</a></li>
                            <li>
                                <a to="#">Content Marketing</a></li>
                            <li>
                                <a to="#">E-mail Marketing</a></li>
                            <li>
                                <a to="#">Social Media Marketing</a></li>
                        </ul>
                    </div>
                    <div class=" megamenu-items ">
                        <h3>Development</h3>
                        <ul>
                            <li>
                                <a to="#">Website Development</a></li>
                            <li>
                                <a to="#">Android Development</a></li>
                            <li>
                                <a to="#"> UX/UI Designer</a></li>
                        </ul>
                    </div>
                    <div class="megamenu-items">
                        <h3>Product Listing</h3>
                        <ul>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>


                        </ul>
                    </div>
                    <div class=" megamenu-items ">
                        <h3>Digital Marketing</h3>
                        <ul>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>

                        </ul>
                    </div>
                    <div class="megamenu-items ">
                        <h3>Digital Marketing</h3>
                        <ul>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>
                            <li>
                                <a to="#">Search Engine Optimisation</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <li> <button class="navbar_items"><a to="/blog" class="s1 "> Blog</a></button>
            </li>
            <li>
                <button class="navbar_items"><a to="/about" class="s1 ">About us</a></button>
            </li>
            <li>
                <button class="navbar_items"><a to="/contact" class="s1 ">Contact</a></button>
            </li>

        </ul>
    </nav>
</div>
</header>